Name: Sonjoy Paul

<center> <h1> <font color='black'> Problem  <font> </h1> </center>

<h1> <font color='black'> Definig Variable   <font> </h1>

In [ ]:
h= 6 # Height
q= 40 # Design discharge
Cd= 0.6 # Discharge Cofficient
g= 32.2 # Gravity
pi= 3.1416

<h1> <font color='black'> importing library  <font> </h1>

In [ ]:
import numpy as np

In [7]:
x = 32*q/(pi*pi)*Cd*Cd*g # equation 
print (x)

NameError: name 'q' is not defined

NameError: name 'x' is not defined

<center> <h1> <font color='black'> Problem 2 <font> </h1> </center>

<h1> <font color='black'> importing library  <font> </h1>

In [9]:
import pandas as pd
import geopandas as gpd

In [10]:
a = gpd.read_file("D:\\python\\population_data.csv") #call the csv file of populatin
a

,table with row headers in column B and column headers in rows 3 through 4,field_2,field_3,field_4,field_5,field_6,field_7,field_8,field_9,field_10,field_11,field_12,field_13,field_14,geometry
0,Annual Estimates of the Resident Population fo...,,,,,,,,,,,,,,None
1,Rank,Geographic Area,"April 1, 2010",,Population Estimate (as of July 1),,,,,,,,,,None
2,,,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,None
3,1,"New York city, New York","8,175,133","8,175,031","8,190,209","8,272,948","8,346,693","8,396,091","8,433,806","8,463,049","8,469,153","8,437,478","8,390,081","8,336,817",None
4,2,"Los Angeles city, California","3,792,621","3,793,139","3,795,512","3,820,876","3,851,202","3,881,622","3,909,901","3,938,568","3,963,226","3,975,788","3,977,596","3,979,576",None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
791,Note: Areas are included in this table if they...,,,,,,,,,,,,,,None
792,Suggested Citation:,,,,,,,,,,,,,,None
793,Annual Estimates of the Resident Population fo...,,,,,,,,,,,,,,None
794,"Source: U.S. Census Bureau, Population Division",,,,,,,,,,,,,,None
795,Release Date: May 2020,,,,,,,,,,,,,,None